*{
    font-family: roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#main{
    height: 100vh;
    width: 95%;
    margin: auto;
    background-color: #000000;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#nav img {
    height: 60px;
}

#nav-part2{
    display: flex;
    gap: 55px;
}

#nav-part3{
    display: flex;
    align-items: center;
    gap: 55px;
}

#nav button {
    background-color: white;
    color: #000000;
    padding: 20px 20px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

#hero {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

#hero h1 {
    font-size: 100px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#hero h1 span{
    background-color: #7E3836;
    color: #fcfbfb;
    font-size: 30px;
    margin: 0 20px;
    padding: 30px 40px;
    border-radius: 50px;
}

#hero h1:nth-child(1){
    margin-top: 60px;
}

#hero #left-img{
    height: 200px;
    position: absolute;
    top: 4%;
    left: 5%;
    border-radius: 30px;
    z-index: -1;
}

#hero #right-img{
    height: 150px;
    position: absolute;
    bottom: 30%;
    right: 2%;
    border-radius: 30px;
    z-index: -1;
}
#hero #top-img{
    height: 150px;
    position: absolute;
    top: 4%;
    right: 10%;
    border-radius: 30px;
    z-index: -1;
}

#hero #bottom-img{
    height: 200px;
    position: absolute;
    bottom: 30%;
    left: 15%;
    border-radius: 30px;
    z-index: -1;
}

h5{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: large;
}

@media only screen and (max-width: 1020px) {
    #hero{
        height: 200vh;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }

    #nav-part2{
        display: none;
        gap: 55px;
    }

    #hero h1 span{
        font-size: 26px;
        margin: 0 10px;
        padding: 20px 30px;
    }

    #hero #images{
        height: 100vh;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10%;
    }

    #hero #left-img,
    #hero #right-img,
    #hero #top-img,
    #hero #bottom-img
    {
        overflow: auto;
        position: initial;
        width: 30%;
        height: 50%;
        border-radius: 0%;
    }
    
    #hero #words{
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    h5{
        position: absolute;
        bottom: 40%;
        transform: translate(-50%,0);
        font-size: large;
    }

    
}

@media only screen and (max-width: 650px){
    body{
        margin: auto;
        width: 100%;
    }

    #hero{
        height: 160vh;
    }

    #hero h1{
        font-size: 60px;
    }

    #hero #left-img,
    #hero #right-img,
    #hero #top-img,
    #hero #bottom-img
    {
        overflow: auto;
        position: initial;
        width: 40%;
        height: 40%;
        border-radius: 0%;
    }

    #hero #images{
        height: 100vh;
        gap: 2%;
    }

    h5{
        bottom: 35%;
    }
    
}
